* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #000000;
	/*	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/miami2.jpg");*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #ffffff;
	/*background-image: linear-gradient(to bottom right,rgb(20, 25, 34), rgb(21, 3, 22));*/
	font-size: 16px;
	font-family: "Noto sans", sans-serif;
}

.container {
	background-image: url("../img/miami2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@font-face {
	font-family: "neon";
	src: url('fonts/neon/NEON GLOW-Bold.otf');
}

a {
	color: #ffffff;
	text-decoration: none;
}

header {
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
}

ul {
	list-style: none;
}

/*NAVIGATION*/

nav {
	background-color: #000e0b;
}

.nav-main {
	font-size: 18px;
	display: flex;
	height: 60px;
	padding-top: 5px;
	background: #000e0b;
}

.nav-brand {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.nav-logo {
	width: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 1px 1px 1px 1px #fcc;
	/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 1px 1px 1px 1px #fcc;
	/* Firefox 3.5 - 3.6 */
	box-shadow: 1px 1px 1px 1px #fcc;
}

.nav-title {
	font-size: 1.3em;
	text-align: center;
	font-family: sans-serif;
	padding: 5px;
	margin-bottom: 5px;
}

.nav-city {
	display: block;
	font-size: .5em;
	text-align: left;
	font-style: italic;
}

.nav-main ul.nav-menu {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2f3640;
	height: 100%;
	padding: 30px 10px;
	opacity: 0.9;
	transform: translateX(-300px);
	transition: transform .5s ease-in-out;
	z-index: 100;
}

.nav-main ul.nav-menu li {
	display: block;
	padding: 5px;
	margin: 20px 10px;
}

li.item-menu:hover {
	color: red;
	margin-bottom: 3px;
	border-bottom: 1px solid red;
}

.nav-main ul.nav-menu.show {
	transform: translateX(0px);
}

.nav-menu-btn {
	padding: 10px;
	position: absolute;
	right: 0;
	font-size: 1.4em;
}

/*LANDING*/
.landing-image {
	display: flex;
	width: 100%;
	height: 280px;
}

.landing-image img {
	width: 100%;
	object-fit: cover;
	object-position: bottom;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 9999;
	/* Sit on top */
	padding-top: 20px;
	/* Add some padding above the image */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scrolling if needed */
	background-color: rgba(0, 0, 0, 0.9);
	/* Black background with opacity */
	align-items: center;
	/* Centra verticalmente */
	justify-content: center;
	/* Centra horizontalmente */
}

/* Modal Content (the image) */
.modal-content {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	object-fit: contain;
	/* Ajusta la imagen dentro del contenedor */
}

/* Close button */
.close {
	display: block;
	margin: 10px auto;
	/* Espaciado del botón debajo de la imagen */
	font-size: 18px;
	/* Tamaño del texto del botón */
	background-color: #fff;
	/* Color de fondo del botón */
	padding: 10px 20px;
	/* Espaciado interno del botón */
	border: 1px solid #000;
	/* Borde del botón */
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.modal-open {
	overflow: hidden;
}

/*CATEGORIES*/

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
}

.stickyhor {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
}

.categories {
	padding: 0 10px;
	display: flex;
	flex-wrap: nowrap;
	background-color: #111;
}

.icon-category i {
	flex: 0 0 50px;
	font-size: 1.5em;
	padding: 2px;
	margin: 7px 5px 5px 5px;
	align-self: center;
}

.nav-categories {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav-categories::-webkit-scrollbar {
	display: none;
}

.nav-item {
	flex: 0 0 auto;
	padding: 5px;
	margin: 5px 7px;
	font-size: 1.2em;
	color: #182123;
	white-space: nowrap;
	color: rgba(255, 242, 171, 0.8);
	text-decoration: none;
	text-transform: uppercase;
	font-family: Calibri;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

span.nav-item.active {
	border-bottom: 2px solid #5044fd;
}

span.nav-item:hover {
	border-right: 1px solid #746bff2a;
	border-left: 1px solid #193bff6c;
	background-color: #FF4A1922;
}

/*CARTA*/

.title-head {
	background: #f7504733;
	margin: 5px 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.title-head h2 {
	text-align: center;
	font-size: 1.5em;
}

.btn-download {
	background: #e0420899;
	border-radius: 5px;
	width: 200px;
	padding: 5px;
	margin: 5px auto;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	border: 1px solid #f07208;
}

.btn-download:hover {
	background: #f0720899;
	color: #FFF;
	font-weight: 600;
}


.carta {
	max-width: 1200px;
	height: 100%;
	margin: 20px auto;
	padding: 0 10px;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(1, 1fr);
}

.card {
	/*max-width: 550px;*/
	border: 0;
	width: 100%;
	margin-inline: auto;
}


.card-tiny {
	/*max-width: 550px;*/
	border: 0;
	width: 100%;
	margin-inline: auto;
}

.card.hidden {
	display: none;
}

.card-tiny>.container-card>img {
	display: none;
}

.card-tiny.hidden {
	display: none;
}

.container-card {
	position: relative;
	border: 2px solid transparent;
	background: linear-gradient(71deg, #080509, #1a171c, #080509);
	background-clip: padding-box;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-flow: row;
	gap: 10px;
}

.container-card>img {
	width: 100px;
	height: 100px;
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
	position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	content: "";
	z-index: -1;
	border-radius: 10px;
}

.bg-green-box::after {
	background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
	background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
	background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
	background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
	text-transform: uppercase;
	font-weight: 400;
	color: rgb(255, 206, 99);
	font-style: normal;
	font-size: 18px;
	padding-bottom: 8px;
}

.card-description {
	font-weight: 600;
	line-height: 32px;
	color: hsla(0, 0%, 100%, 0.5);
	font-size: 16px;
	max-width: 470px;
}

.category {
	display: none;
}

.data {
	display: flex;
	flex-flow: column;
	padding-left: 20px;
}

.prices_list {
	right: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 0.6em;
}

.value {
	display: flex;
	flex-direction: column;
	min-width: 3em;
	margin-right: 0.6em;
}

.press {
	color: #e8ff17;
	font-size: 0.65rem;
}


/*Gallery */

img {
	vertical-align: middle;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.grid article {
	background-color: #FFFFFF;
	display: block;
	float: left;
	margin: 1%;
	width: 23%;
}

/* overlay styles */

.image-item {
	position: relative;
	cursor: pointer;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(57, 57, 57, 0.502);
	top: 0;
	left: 0;
	transform: scale(0);
	transition: all 0.2s 0.1s ease-in-out;
	color: #fff;
	/* center overlay content */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* hover */
.image-item:hover .overlay {
	transform: scale(1);
}

/*footer */
.footer {
	display: grid;
	grid-gap: 10px;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 10px;
	background: #2f3640;
	color: #616161;
	font-size: 1rem;
	/* Adjust the font size as needed */
	padding: 20px 0 30px;
	/* Top padding: 20px, Bottom padding: 30px */
	text-align: center;
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 10px;
}

.footer-links li {
	line-height: 2.8;
}

.footer-deliverys {
	display: flex;
	flex-direction: column;
}

.footer-social,
.footer-partnership {
	display: flex;
      	flex-direction: column;
      	align-items: center;
      	padding: 20px;
}
.social-row,
.partners-row {
	display: flex;
      	justify-content: center;
	padding: 10px 5px;
}

.footer-partnership img{
	width: 30px;
	height: 30px;
	margin: 0 10 px;
}

.icon-social {
	font-size: 1.5em;
}

.link-delivery:hover {
	font-weight: 600;

}

.copyright {
	font-size: 9px;
	color: #fff;
}

/*location*/
.imagen {
	display: flex;
	width: 100%;
	height: 280px;
	padding: 5px;
	margin: 10px auto;
}

.imagen img {
	width: 100%;
	object-fit: contain;
	object-position: center;
}

.label {
	width: 100%;
	font-size: 16px;
	padding: 10px;
}

@media (min-width: 600px) {

	.carta {
		grid-gap: 1rem;
		grid-template-columns: repeat(2, 1fr);
	}

	.carta__product {
		height: 7rem;
	}

	.carta__product__tiny {
		height: 7rem;
	}

	.footer-container {
		grid-template-columns: repeat(3, 1fr);
		/* Display elements horizontally */
		margin-bottom: 10px;
		/* Add bottom margin on larger screens */
	}
}

@media (min-width: 950px) {

	.carta {
		grid-gap: 1rem;
		grid-template-columns: repeat(3, 1fr);
	}

	.carta__product {
		height: 7rem;
	}

	.carta__product__tiny {
		height: 8rem;
	}

	/*LANDING*/
	.landing-image {
		display: flex;
		width: 100%;
		height: 460px;
	}

	.landing-image img {
		width: 100%;
		object-fit: cover;
		object-position: center center;
	}

	.footer-container {
		grid-template-columns: repeat(3, 1fr);
		/* Display elements horizontally */
		margin-bottom: 10px;
		/* Add bottom margin on larger screens */
	}
	
}

@media (max-width: 1024px) {
	.grid article {
		width: 31.3%;
	}
}

@media (max-width: 767px) {
	.grid article {
		width: 48%;
	}
}

@media (max-width: 479px) {
	.grid article {
		margin: 2% 0;
		width: 100%;
	}
}
